@media (max-width: 640px) {
	body {
		max-width: 375px;
	}

	.container {
		width: 355px;
	}

	.header {
		&__banner {
			padding: 10px 10px;
			gap: 10px;
			flex-direction: column;
			align-items: center;

			&__title {
				line-height: 23px;
				text-align: center;
			}
		}
		&__navigation {
			&__links {
				left: -9px;
			}
		}
	}

	.main {
		&__banner {
			background-size: cover;
		}

		.nba {
			&__wrapper {
				gap: 25px;

				&__content {
					width: 355px;
				}

				img {
					max-width: 355px;
				}
			}
		}

		.smart {
			&__wrapper {
				&__card {
					width: 355px;

					&:nth-child(3) {
						width: 355px;
					}
				}

				.smart-big {
					width: 355px;
				}
			}
		}

		.sustainability {
			margin-bottom: 40px;

			&__wrapper {
				&__content {
					width: 355px;
				}

				img {
					max-width: 355px;
				}
			}
		}
	}

	.footer {
		.footer-container {
			width: 355px;
		}

		&__social {
			&__wrapper {
				&__icons {
					gap: 25px;
				}

				&__links {
					gap: 20px;
					@include flexColumn(center);
				}
			}
		}
	}
}
