$alignItems: flex-start;
$grey: #3c4043;
$blue: #1967d2;
$borderGrey: #5f6368;
$bgMilk: #f3f2f1;
$bgGrey: #e7ebee;
$bgGreen: #d6e2db;
$bgPink: #efddcd;
$bgCard: #e9e3db;
$bgPrimCard: #f8f9fa;
$borderBottom: #80868b;
$hr: #f2f2f2;
