@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'vars';
@import 'mixins';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	max-width: 1280px;
	margin: 0 auto;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
button,
li,
::before {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: $grey;
}

.container {
	width: 1232px;
	margin: 0 auto;
}

.header__banner {
	@include flexCenter($alignItems);
	gap: 3px;
	padding: 19px 0;
	background: $blue;

	&__title,
	&__link {
		font-size: 16px;
		line-height: 16px;
		color: #ffffff;
	}
}

.header__navigation {
	@include flexSB(center);
	padding: 16px 0;

	&__links {
		width: 688px;
		@include flexSB(center);

		a {
			font-size: 14px;
			line-height: 20px;
			border-bottom: 1px solid transparent;
		}

		a:hover {
			border-bottom: 1px solid $borderBottom;
		}
	}
	&__btns {
		display: flex;
		gap: 26px;

		button {
			@include cleanBtn();

			svg:hover {
				fill: grey;
			}
		}
	}
}

.main {
	margin-bottom: 96px;

	&__banner {
		background-image: url('./img/main-banner.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 600px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: center;
		justify-items: center;
		margin-bottom: 79px;

		&__content {
			@include flexColumn($alignItems);
			gap: 22px;
			width: 356px;
			height: 268px;

			&__title {
				font-size: 57px;
				line-height: 68px;
				letter-spacing: 2px;
			}

			&__text {
				@include fontHeight();
			}

			&__btns-list {
				display: flex;
				gap: 22px;

				button {
					@include fontHeight();
					@include cleanBtn();
					padding: 8px 20px;
					border: 2px solid rgba(0, 0, 0, 0);
					border-radius: 4px;
				}

				button:focus {
					border: 2px solid $grey;
				}
			}
		}
	}

	.goods {
		margin-bottom: 126px;
		padding-bottom: 112px;
		border-bottom: 2px solid $borderBottom;

		&__title {
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			width: 624px;
			margin: 0 auto 90px;
		}

		&__cards-list {
			@include flexSB($alignItems);
			flex-wrap: wrap;

			&__card {
				div {
					background: $bgPrimCard;
					border-radius: 20px;
					padding: 20px 0;
					margin-bottom: 20px;
				}

				h4 {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	.nba {
		margin-bottom: 80px;

		&__wrapper {
			background: $bgPrimCard;
			border-radius: 28px;
			display: flex;
			gap: 117px;

			&__content {
				@include flexColumn($alignItems);
				width: 401px;
				gap: 28px;

				h3 {
					width: 315px;
					font-size: 32px;
					line-height: 40px;
					letter-spacing: 0.5px;
				}

				p {
					@include fontHeight();
				}

				a {
					@include fontHeight();
					color: $blue;
				}
			}
		}
	}

	.smart {
		margin-bottom: 120px;

		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 23px;

			&__card {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: $bgCard;
				border-radius: 28px;

				p {
					@include fontHeight();
					letter-spacing: 0.1px;
					margin: 20px 0 15px;
				}

				h2 {
					width: 294px;
					font-size: 40px;
					line-height: 48px;
					text-align: center;
					letter-spacing: 0.5px;
					margin-bottom: 25px;
				}

				button {
					@include fontHeight();
					@include cleanBtn();
					color: #202124;
					border: 2px solid $borderGrey;
					border-radius: 4px;
					padding: 0 20px;
					margin-bottom: 28px;
				}
			}
		}
	}

	.smart-big {
		border-radius: 28px 28px 0 0;

		p {
			margin-top: 40px;
		}

		button {
			margin-bottom: 50px;
		}

		&_bg-green {
			background: $bgGreen;
		}

		&_bg-pink {
			background: $bgPink;

			button {
				margin-bottom: 52px;
			}
		}
	}

	.category {
		margin-bottom: 120px;

		&__wrapper {
			@include flexColumn(center);

			&__title {
				font-size: 40px;
				line-height: 48px;
				letter-spacing: 0.5px;
				margin-bottom: 43px;
			}

			&__list {
				display: flex;
				gap: 23px;

				&__card {
					@include flexColumn(center);
					gap: 25px;

					a {
						font-size: 14px;
						line-height: 20px;
						letter-spacing: 0.25px;
						color: $blue;
					}
				}
			}
		}
	}

	.watches-earbuds {
		margin-bottom: 160px;
	}

	.smart-big {
		&_bg-milk {
			background: $bgMilk;
		}

		&_bg-grey {
			background: $bgGrey;

			button {
				margin-bottom: 88px;
			}
		}
	}

	.sustainability {
		margin-bottom: 80px;

		&__wrapper {
			display: flex;
			gap: 129px;

			&__content {
				width: 392px;
				@include flexColumn($alignItems);
				gap: 20px;

				h2 {
					font-size: 40px;
					line-height: 48px;
					letter-spacing: 0.5px;
				}

				p {
					@include fontHeight();
				}

				button {
					@include cleanBtn();
					border: 2px solid $grey;
					width: 128px;
					padding: 8px 20px;
					border-radius: 4px;
					@include fontHeight();
				}
			}
		}
	}

	.registration {
		margin-bottom: 24px;
		padding: 60px 0 68px 0;

		&__wrapper {
			width: 580px;
			@include flexColumn(center);
			text-align: center;

			img {
				margin-bottom: 16px;
			}

			h2 {
				margin-bottom: 42px;
				font-size: 32px;
				line-height: 40px;
				letter-spacing: 0.5px;
			}

			button {
				@include cleanBtn();
				border: 2px solid $borderGrey;
				border-radius: 4px;
				margin-bottom: 28px;
				padding: 0 20px;
				@include fontHeight();
			}

			a {
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.2px;
				color: $blue;
			}
		}
	}

	.pixel-pass {
		padding: 23px 0;

		&__wrapper {
			p:first-child {
				font-size: 9px;
				line-height: 0px;
			}

			p:last-child {
				font-size: 12px;
				line-height: 20px;
				margin-left: 10px;
				width: 1181px;
			}
		}
	}
}

.footer-container {
	width: 1088px;
	margin: 0 auto;
}

.footer {
	&__navigation {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 71px;
		border-bottom: 1px solid $hr;

		&__wrapper {
			display: flex;
			gap: 51px;
			margin-right: 50px;

			&_left,
			&_right {
				display: flex;
				flex-direction: column;
				gap: 24px;

				a {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}

	&__social {
		padding: 17px 0;

		&__wrapper {
			@include flexSB($alignItems);

			&__icons {
				display: flex;
				gap: 16px;
			}

			&__links {
				@include flexCenter(center);
				gap: 40px;

				a {
					font-size: 11px;
					line-height: 16px;
				}

				&__usa {
					@include flexCenter(center);
					gap: 12px;
					width: 110px;

					a {
						font-size: 11px;
						line-height: 16px;
					}
				}
			}
		}
	}
}

@import 'adaptive1000px';
