@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
button,
li,
::before {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #3c4043;
}

.container {
  width: 1232px;
  margin: 0 auto;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  padding: 19px 0;
  background: #1967d2;
}
.header__banner__title, .header__banner__link {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header__navigation__links {
  width: 688px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation__links a {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid transparent;
}
.header__navigation__links a:hover {
  border-bottom: 1px solid #80868b;
}
.header__navigation__burger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 27px;
  display: none;
}
.header__navigation__btns {
  display: flex;
  gap: 26px;
}
.header__navigation__btns button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__navigation__btns button svg:hover {
  fill: grey;
}

.main {
  margin-bottom: 96px;
}
.main__banner {
  background-image: url("./img/main-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  margin-bottom: 79px;
}
.main__banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  width: 356px;
  height: 268px;
}
.main__banner__content__title {
  font-size: 57px;
  line-height: 68px;
  letter-spacing: 2px;
}
.main__banner__content__text {
  font-size: 16px;
  line-height: 24px;
}
.main__banner__content__btns-list {
  display: flex;
  gap: 22px;
}
.main__banner__content__btns-list button {
  font-size: 16px;
  line-height: 24px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.main__banner__content__btns-list button:focus {
  border: 2px solid #3c4043;
}
.main .goods {
  margin-bottom: 126px;
}
.main .goods__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 624px;
  margin: 0 auto 90px;
}
.main .goods__cards-list .swiper-wrapper {
  padding-bottom: 112px;
}
.main .goods__cards-list .swiper-scrollbar {
  height: var(--swiper-scrollbar-size, 2px);
}
.main .goods__cards-list__card {
  width: 183px;
}
.main .goods__cards-list__card div {
  background: #f8f9fa;
  border-radius: 20px;
  padding: 20px 0;
  margin-bottom: 20px;
}
.main .goods__cards-list__card h4 {
  font-size: 16px;
  line-height: 24px;
}
.main .nba {
  margin-bottom: 80px;
}
.main .nba__wrapper {
  background: #f8f9fa;
  border-radius: 28px;
  display: flex;
  gap: 117px;
}
.main .nba__wrapper__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 401px;
  gap: 28px;
}
.main .nba__wrapper__content h3 {
  width: 315px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.main .nba__wrapper__content p {
  font-size: 16px;
  line-height: 24px;
}
.main .nba__wrapper__content a {
  font-size: 16px;
  line-height: 24px;
  color: #1967d2;
}
.main .smart {
  margin-bottom: 120px;
}
.main .smart__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.main .smart__wrapper__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9e3db;
  border-radius: 28px;
}
.main .smart__wrapper__card p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 20px 0 15px;
}
.main .smart__wrapper__card h2 {
  width: 294px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.main .smart__wrapper__card button {
  font-size: 16px;
  line-height: 24px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #202124;
  border: 2px solid #5f6368;
  border-radius: 4px;
  padding: 0 20px;
  margin-bottom: 28px;
}
.main .smart-big {
  border-radius: 28px 28px 0 0;
}
.main .smart-big p {
  margin-top: 40px;
}
.main .smart-big button {
  margin-bottom: 50px;
}
.main .smart-big_bg-green {
  background: #d6e2db;
}
.main .smart-big_bg-pink {
  background: #efddcd;
}
.main .smart-big_bg-pink button {
  margin-bottom: 52px;
}
.main .category {
  margin-bottom: 120px;
}
.main .category__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .category__wrapper__title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  margin-bottom: 43px;
}
.main .category__wrapper__list {
  display: flex;
  gap: 23px;
}
.main .category__wrapper__list__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.main .category__wrapper__list__card a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1967d2;
}
.main .watches-earbuds {
  margin-bottom: 160px;
}
.main .smart-big_bg-milk {
  background: #f3f2f1;
}
.main .smart-big_bg-grey {
  background: #e7ebee;
}
.main .smart-big_bg-grey button {
  margin-bottom: 88px;
}
.main .sustainability {
  margin-bottom: 80px;
}
.main .sustainability__wrapper {
  display: flex;
  gap: 129px;
}
.main .sustainability__wrapper__content {
  width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.main .sustainability__wrapper__content h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.main .sustainability__wrapper__content p {
  font-size: 16px;
  line-height: 24px;
}
.main .sustainability__wrapper__content button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #3c4043;
  width: 128px;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}
.main .registration {
  margin-bottom: 24px;
  padding: 60px 0 68px 0;
}
.main .registration__wrapper {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .registration__wrapper img {
  margin-bottom: 16px;
}
.main .registration__wrapper h2 {
  margin-bottom: 42px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.main .registration__wrapper button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #5f6368;
  border-radius: 4px;
  margin-bottom: 28px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
}
.main .registration__wrapper a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1967d2;
}
.main .pixel-pass {
  padding: 23px 0;
}
.main .pixel-pass__wrapper p:first-child {
  font-size: 9px;
  line-height: 0px;
}
.main .pixel-pass__wrapper p:last-child {
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
  max-width: 1181px;
}

.footer-container {
  width: 1088px;
  margin: 0 auto;
}

.footer__navigation {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 71px;
  border-bottom: 1px solid #f2f2f2;
}
.footer__navigation__wrapper {
  display: flex;
  gap: 51px;
  margin-right: 50px;
}
.footer__navigation__wrapper_left, .footer__navigation__wrapper_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__navigation__wrapper_left a, .footer__navigation__wrapper_right a {
  font-size: 14px;
  line-height: 22px;
}
.footer__social {
  padding: 17px 0;
}
.footer__social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__social__wrapper__icons {
  display: flex;
  gap: 16px;
}
.footer__social__wrapper__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer__social__wrapper__links a {
  font-size: 11px;
  line-height: 16px;
}
.footer__social__wrapper__links__usa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 110px;
}
.footer__social__wrapper__links__usa a {
  font-size: 11px;
  line-height: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

@media (max-width: 1279px) {
  body {
    max-width: 1000px;
  }
  .container {
    width: 952px;
  }
  .main__banner {
    height: 470px;
    margin-bottom: 60px;
  }
  .main .goods {
    margin-bottom: 86px;
  }
  .main .goods__cards-list .swiper-wrapper {
    padding-bottom: 72px;
  }
  .main .goods__cards-list__card {
    width: 273px;
    height: 338px;
  }
  .main .goods__cards-list__card div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .nba__wrapper {
    gap: 60px;
  }
  .main .nba__wrapper img {
    max-width: 416px;
  }
  .main .smart {
    margin-bottom: 100px;
  }
  .main .smart__wrapper__card {
    width: 302px;
  }
  .main .smart__wrapper .smart-big {
    width: 463px;
  }
  .main .sustainability {
    margin-bottom: 80px;
  }
  .main .sustainability__wrapper {
    gap: 60px;
  }
  .main .sustainability__wrapper img {
    max-width: 416px;
  }
  .main .registration {
    padding: 28px 0 28px 0;
  }
  .main .pixel-pass__wrapper p:last-child {
    text-align: center;
  }
}
.footer-container {
  width: 952px;
}

@media (max-width: 999px) {
  body {
    max-width: 950px;
  }
  .container {
    width: 902px;
  }
  .header__navigation {
    position: relative;
  }
  .header__navigation__links {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 200px;
    padding: 10px 10px 40px 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -24px;
  }
  .header__navigation__links_close {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header__navigation__burger {
    display: block;
  }
  .main__banner {
    height: 446px;
    margin-bottom: 40px;
  }
  .main .goods {
    margin-bottom: 46px;
  }
  .main .goods__title {
    margin: 0 auto 40px;
  }
  .main .goods__cards-list .swiper-wrapper {
    padding-bottom: 22px;
  }
  .main .nba__wrapper {
    gap: 60px;
  }
  .main .nba__wrapper img {
    max-width: 416px;
  }
  .main .smart {
    margin-bottom: 50px;
  }
  .main .smart__wrapper__card {
    width: 285px;
  }
  .main .smart__wrapper__card h2 {
    width: 270px;
    font-size: 30px;
  }
  .main .smart__wrapper .smart-big {
    width: 439px;
  }
  .main .smart__wrapper .smart-big h2 {
    width: 300px;
    font-size: 40px;
  }
  .main .category {
    margin-bottom: 70px;
  }
  .main .category__wrapper__title {
    font-size: 30px;
  }
  .main .sustainability {
    margin-bottom: 50px;
  }
  .main .registration {
    padding: 28px 0 28px 0;
  }
}
.footer .footer-container {
  width: 902px;
}
.footer__social__wrapper__icons {
  gap: 10px;
}
.footer__social__wrapper__links {
  gap: 20px;
}
.footer__social__wrapper__links__usa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 110px;
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */